<div class="bounds">

      <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

            <div fxFlex="20" class="sec1" fxFlex.xs="55">
                  <div class='fixed'>
                        <app-sidenav></app-sidenav>
                  </div>

            </div>
            <div fxFlex="75" class="sec2">
                  <router-outlet></router-outlet>
            </div>


      </div>

</div>

<div class="container">

</div>







<!-- <button (click)="loadJson()" mat-raised-button color="accent">Charger</button> -->
<!-- <p *ngIf='panel.sql.length > 0'>Panel index : {{i}}</p>
      <p *ngIf='panel.sql.length > 0'>Panel title : {{panel.title}}</p> -->

<!-- <p>Target index : {{f}}</p> -->
<!-- <app-code-editor *ngIf="i !== null && f !== null"  [code]="targetsSql" [targetIndex]="f" [panelIndex]="i"> -->