@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body,
container {
  height: 100%;
  width: 100%;
}

.fixed {
  position: fixed;
  width: 20%;
}

.sec1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
